
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #E5E5E5;;
}
header{
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position:relative;
    height: 100px;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    position: absolute;
    top: 10px;
    left: 20px;
}
.imglogo{
    position: absolute;
    top: 36px;
    left: 122px;
    
}

.nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style-type: none;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 41px;
    gap: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F3F3F3;
}
.main{
    display: flex;
    justify-content:space-around;
    gap: 5px;

}
.background-delivery{
    background-image: url(../img/delivery.png);
    height: 350px;
    width: 491px;
    position: relative;
}
.titulomain{
    position: absolute;
    top: 20px;
    left: 19.98px;
    color: #FC200C;
    height: 28px;
    font-size: 24px;
    line-height: 28px;
}
.ranking{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height:350px;
    width: 491px;
    background-color: #fff;
    position: relative;
}
.titulo1{
    display: flex;
    justify-content: center;
    color: #FC200C;
    position: absolute;
    top: 26px;
    left: 160px;
    font-size: 24px;
    line-height: 28px;

}
.titulo2{
    display: flex;
    position: absolute;
    top: 112px;
    left: 69px;}
.lists{
    position: absolute;
    top: 155px;
    left: 51px;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.PizzaFalling{
    position: absolute;
    top: 132px;
    left: 325px;
    width: 92px;
    height: 129px;

}
footer{
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 150px;

}
.footer-nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.nav2{
    display: flex;
    
}
.nav2 ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    color: #fff;
    gap: 15px;
    padding-top: 19px;
    padding-left: 20px;
    height: 112px;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.logopizza{
    display: flex;
    position: absolute;
    top: 35PX;
    right: 162px;

}
.pizzafront{
    position: absolute;
    top: 61px;
    right: 42px;
}